<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Witaj świecie - Formularz1</title>
    <h1>Wstawianie inputów Imie i Nazwisko</h1>
</head>
<body>
<form action="/ImieNazwisko" method="get">
    Twoje imie: <input type="text" name="imieF"><br>
    Twoje nazwisko: <input type="text" name="nazwiskoF"><br>
    <input type="submit" value="Zapisz">

  <!--  <h2><p th:text="$(person)" ></p></h2>-->



    <!--<p th:text="$(person)" ></p>
    <a href="/formularz1"></a>> -->
</form>
</body>
</html>