<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body bgcolor="#87cefa">
<hr>
    SIMPLE CALCULATOR
    <br>
        <hr>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEdimCYaYWo4h72_CCyJ05sDYSaOQS7nC8Wxt33xXzny_oteQF" alt="Nie ma obrazku" style="max-width:20%;" >
        <hr>
    <center>RESULT: <p type="text" th:text="${result}" type="text" ></center>
    <br>
    <form method="post" th:action="@{/}" th:object="${operationModel}">
        <input type="text" th:field="*{a}" placeholder="0">     <input type="text" th:field="*{b}" placeholder="0">
        <br>
        CHOOSE OPERATION:
        <br>
            <input type="submit" class="button" name="add" value="+">
            <input type="submit" class="button" name="sub" value="-">
            <input type="submit" class="button" name="mul" value="*">
            <input type="submit" class="button" name="div" value="/">
        <br>
    </form>
<hr>
    <br>
    AVERAGE CALCULATOR
        <form method="post" th:action="@{/}" th:object="${operationModel}">
            <input type="text" th:field="*{a}" placeholder="0">
            <br>
            CHOOSE OPERATION:
            <br>
            <input type="submit" class="button" name="sqr" value="Kwadrat Liczby">
            <input type="submit" class="button" name="ele" value="Suma od 1 do n">
            <input type="submit" class="button" name="fac" value="Silnia">
            <input type="submit" class="button" name="prm" value="Czy Liczba Pierwsza">
        </form>

</body>
</html>